build/ouzel.xcodeproj/xcuserdata
build/ouzel.xcodeproj/project.xcworkspace
build/obj
build/Release/
build/Debug/
build/x64/
build/ipch/
build/ouzel.sdf
build/ouzel.VC.opendb
samples/samples.xcodeproj/project.xcworkspace
samples/samples.xcodeproj/xcuserdata
samples/Release/
samples/Debug/
samples/x64/
samples/ipch/
samples/samples.sdf
samples/samples.VC.opendb
samples/samples.opensdf
samples/samples.VC.VC.opendb
samples/samples.VC.db
samples/android/bin
samples/android/gen
samples/android/libs
samples/android/obj
samples/sprite/win/ipch/
samples/sprite/win/sprite.sdf
samples/sprite/win/x64/
