*.o
*.d
*.a
build/ouzel.xcodeproj/project.xcworkspace
build/ouzel.xcodeproj/xcshareddata
build/ouzel.xcodeproj/xcuserdata
build/.vs/
build/obj
build/Win32/
build/x64/
build/ipch/
samples/samples.xcodeproj/project.xcworkspace
samples/samples.xcodeproj/xcshareddata
samples/samples.xcodeproj/xcuserdata
samples/Win32/
samples/x64/
samples/ipch/
samples/.gradle
samples/app/.externalNativeBuild
samples/app/.idea
samples/app/build
samples/sprite/win/ipch/
samples/sprite/win/x64/
samples/samples
samples/samples.js
samples/samples.js.mem
*.gch
samples/samples.app
build/html
samples/.vs/
Config.h
assetcatalog_generated_info.plist
assetcatalog_dependencies
local.properties
*.air
*.metalar
*.metallib
build/pch
*.VC.db
*.VC.opendb
*.sdf
*.opensdf
*.user
