build/ouzel.xcodeproj/xcuserdata
build/ouzel.xcodeproj/project.xcworkspace
samples/sprite/apple/sprite.xcodeproj/project.xcworkspace
samples/sprite/apple/sprite.xcodeproj/xcuserdata
build/android/obj
build/Release/
build/Debug/
build/x64/
build/ipch/
build/ouzel.sdf
build/ouzel.VC.opendb
samples/win/Release/
samples/win/Debug/
samples/win/x64/
samples/win/ipch/
samples/win/sprite.sdf
samples/win/sprite.VC.opendb
samples/android/bin
samples/android/gen
samples/android/libs
samples/android/obj
samples/win/sprite.opensdf
samples/win/sprite.VC.VC.opendb
samples/win/sprite.VC.db
