trigger:
- master

jobs:
- job: Linux
  pool:
    vmImage: 'Ubuntu-16.04'
  variables:
    CC: gcc-7
    CXX: g++-7
  steps:
  - script: sudo apt-get update --fix-missing
  - script: sudo apt-get install -y libgl1-mesa-dev
  - script: sudo apt-get install -y libegl-dev
  - script: sudo apt-get install -y libopenal-dev
  - script: sudo apt-get install -y libasound2-dev
  - script: sudo apt-get install -y libxxf86vm-dev
  - script: sudo apt-get install -y libxi-dev
  - script: sudo apt-get install -y libxcursor-dev
  - script: sudo apt-get install -y libxss-dev
  - script: |
      cd samples
      make -j2
    displayName: 'make'

- job: Windows
  pool:
    vmImage: 'vs2017-win2016'
  steps:
  - task: MSBuild@1
    inputs:
      solution: samples/samples.vcxproj
      configuration: Release

- job: macOS
  pool:
    vmImage: 'macOS-10.14'
  steps:
  - script: |
      cd samples
      make -j2
    displayName: 'make'
